body {
   display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img{
    background-image: url('bd.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 1000px;
}
